/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

body {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    background-color: #b2bec3;
}

.container {
    width: 550px;
    margin: auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 10px 20px #888888;
    position: relative;
    margin-top: 150px;
    
}

h1 {
    font-size: 2em;
    color: #d63031;
}

h1,
p {
    margin-bottom: 30px;
}

.obrazek {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 5px 10px 20px #888888;
    position: absolute;
    right: -75px;
    top: -75px;
}
.button{
    display: block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.tw{
    background-color:#1da1f2 ;
}
.fb{
    background-color: #3b5998;
    margin-top: 5px;

}

.tw:hover,
.tw:focus{
    background-color: #0b7bc1;
}
.fb:hover,
.fb:focus{
    background-color: #2b406e;
}